@charset "UTF-8";

#root {
	width: 1000px;
	margin: auto;
}

.background-shadow {
	box-shadow: 0px 0px 20px 5px;
}

.padding-box {
	height: 100%;
	position: relative;
	margin: auto;
	/*background-color: rgba(0, 255, 0, 0.5);*/
}

.wrap {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-image: url('/resources/images/story/storyBrandStory/backgroundInfo.gif');
	/*background-color: rgba(0, 255, 0, 0.5);*/
}

.side-menu-area {
	width: 21.5%;
	background-image: url('/resources/images/story/storyBrandStory/sidemenuBackground.gif');
	background-repeat: no-repeat;
	/*background-color: rgba(0, 255, 0, 0.5);*/
}

.side-button-area {
	position: relative;
	top: -4px;
}

.new-story {
	position: relative;
	top: -4px;
}

.info-area {
	width: 78.5%;
	background-image: url('/resources/images/story/storyBrandStory/infoBackground.gif');
	background-repeat: no-repeat;
	/*background-color: rgba(0, 255, 0, 0.5);*/
}

.path {
	margin: 39px 0px 0px 0px;
	font-size: 11px;
	color: #765a3a;
}

.path img {
	margin: 0px 3px 0px 2px;
}

.big-title {
	position: relative;
	height: 8.5%;
}

.big-title h4 {
	position: relative;
	top: 19px;
	font-size: 38px;
	color: #3a2b1f;
	font-weight: bold;
}

.big-title-background {
	position: relative;
	left: 49.1%;
	bottom: 312%;
}

.new-title-info {
	position: relative;
	top: 36px;
}

.table-area-padding {
	width: 100%;
	position: relative;
	margin: 97px 0px 0px 0px;
	/* background-color: rgba(0, 255, 0, 0.5);*/
}

.table-total {
	font-size: 12px;
}

.table-list-area {
	width: 95.3%;
	/* background-color: rgba(0, 255, 0, 0.5);*/
}

.table-text-area {
	display: flex;
	flex-wrap: wrap;
}

.search-area {
	float: right;
}

.search {}


.search button {
	width: 47px;
	height: 24px;
}