@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#root {
	background-image: url('/resources/images/template/background-logo.gif');
	background-repeat: no-repeat;
	background-position: center top;
}

.background-shadow {
	background-image: url('/resources/images/story/storyBrandStory/backgroundShadow.gif');
	background-repeat: no-repeat;
	background-position: center top;
}

.padding-box {
	height: 100%;
	padding: 151px 0px 0px 9px;
	position: relative;
	width: 1017px;
	margin: auto;
	/*background-color: rgba(0, 255, 0, 0.5);*/
}

.wrap {
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	background-image: url('/resources/images/story/storyBrandStory/backgroundInfo.gif');
	/*background-color: rgba(0, 255, 0, 0.5);*/
}

.side-menu-area {
	width: 215px;
	background-image: url('/resources/images/story/storyBrandStory/sidemenuBackground.gif');
	background-repeat: no-repeat;
	/*background-color: rgba(0, 255, 0, 0.5);*/
}

.side-button-area {
	position: relative;
	top: -4px;
}

.new-story {
	position: relative;
	top: -4px;
}

.info-area {
	width: 78.5%;
	background-image: url('/resources/images/story/storyBrandStory/infoBackground.gif');
	background-repeat: no-repeat;
	/*background-color: rgba(0, 255, 0, 0.5);*/
}

.path {
	margin: 39px 0px 0px 0px;
	font-size: 11px;
	color: #765a3a;
}

.path img {
	margin: 0px 3px 0px 2px;
}

.big-title {
	position: relative;
	height: 90px;
}

.big-title h4 {
	position: relative;
	top: 19px;
	font-size: 38px;
	color: #3a2b1f;
	font-weight: bold;
}

.big-title-background {
	position: absolute;
	left: 385px;
	top: -55px;
}

.new-title-info {
	position: relative;
	top: 36px;
}

.table-area-padding {
	width: 100%;
	height: 518px;
	position: relative;
	margin: 97px 0px 0px 0px;
	/* background-color: rgba(0, 255, 0, 0.5);*/
}

.table-total {
	font-size: 12px;
}