@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#root {
	width: 1000px;
	margin: auto;
}

.background-shadow {
	box-shadow: 0px 0px 20px 5px;
}

.padding-box {
	height: 100%;
	position: relative;
	margin: auto;
	/*background-color: rgba(0, 255, 0, 0.5);*/
}

.wrap {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-image: url('/resources/images/story/storyBrandStory/backgroundInfo.gif');
	/*background-color: rgba(0, 255, 0, 0.5);*/
}

.side-menu-area {
	width: 21.5%;
	background-image: url('/resources/images/story/storyBrandStory/sidemenuBackground.gif');
	background-repeat: no-repeat;
	/*background-color: rgba(0, 255, 0, 0.5);*/
}

.side-button-area {
	position: relative;
	top: -4px;
}

.new-story {
	position: relative;
	top: -4px;
}


.info-area {
	width: 78.5%;
	background-image: url('/resources/images/story/storyBrandStory/infoBackground.gif');
	background-repeat: no-repeat;
	/*background-color: rgba(0, 255, 0, 0.5);*/
}

.path-area {
	position: relative;
	top: 40px;
	height: 14%;
}

.path {
	font-size: 11px;
	color: #765a3a;
}

.path img {
	margin: 0px 3px 0px 2px;
}

.big-title {
	position: relative;
	height: 8.5%;
}

.big-title h4 {
	position: relative;
	top: 19px;
	font-size: 38px;
	color: #3a2b1f;
	font-weight: bold;
}

.big-title img {
	position: relative;
	left: 385px;
	top: -105px;
}

.contents {
	position: relative;
	top: -29px;
}

.contents-title-first {
	position: relative;
	top: 60px;
	font-family: 'Nanum Gothic', serif;
	font-size: 18px;
	color: #3a2b1f;
	font-weight: 700;
}

.contents-title {
	padding-top: 19px;
	padding-bottom: 25px;
	position: relative;
	top: 80px;
	border-top: 1px solid #d0c4b2;
	font-family: 'Nanum Gothic', serif;
	font-size: 18px;
	color: #3a2b1f;
	font-weight: 700;
}

.contents-inner {
	position: relative;
	top: 70px;
	font-family: 'Nanum Gothic', serif;
	padding-bottom: 15px;
	line-height: 20px;
	font-size: 12px;
	color: #555555;
	font-weight: 400;
}

.img-area {
	position: relative;
	top: 95px;
}

.img-area img {
	width: 243px;
	height: 170px;

}