@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
}

#root {
	width: 1000px;
	margin: auto;
}

.background-shadow {
	box-shadow: 0px 0px 20px 5px;
}

.padding-box {
	height: 100%;
	position: relative;
	margin: auto;
	/*background-color: rgba(0, 255, 0, 0.5);*/
}

.wrap {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-image: url('/resources/images/story/storyBrandStory/backgroundInfo.gif');
	/*background-color: rgba(0, 255, 0, 0.5);*/
}

.side-menu-area {
	width: 21.5%;
	background-image: url('/resources/images/story/storyBrandStory/sidemenuBackground.gif');
	background-repeat: no-repeat;
	/*background-color: rgba(0, 255, 0, 0.5);*/
}

.side-button-area {
	position: relative;
	top: -4px;
}

.new-story {
	position: relative;
	top: -4px;
}

.info-area {
	width: 78.5%;
	background-image: url('/resources/images/story/storyBrandStory/infoBackground.gif');
	background-repeat: no-repeat;
	/*background-color: rgba(0, 255, 0, 0.5);*/
}

.path {
	margin: 39px 0px 0px 0px;
	font-size: 11px;
	color: #765a3a;
}

.path img {
	margin: 0px 3px 0px 2px;
}

.info-area-title {
	display: flex;
	flex-wrap: wrap;
	height: 41%;
}

.happyBirthdayMessage {
	width: 100%;
	position: relative;
	margin: 20px 0px 0px 0px;
}

.firstBirthdayMessage {
	position: relative;
	margin: 20px 0px 0px 0px;
}

.infoTitleBackground {
	position: relative;
	bottom: 87%;
	left: 4%;
}