@charset "UTF-8";
body{margin:0%;}
#bg {
	width: 1360px;
	height: 1493px;
	
}

#vips-bg {
	background: url('../images/common/bg_body.gif') no-repeat center top;
	height: 1000px;
	position: relative;
	
}

#wrap {
	margin: 0 auto;
	width: 1000px;
	position: relative;
	padding-bottom: 134px;
	height: 100%;
}

#container {
	background: #f0ebdd url('../images/common/bg_contents.gif') repeat-y;
	top: 151px;
	position: relative;
	z-index: 1;
}

#content-wrap{
	position:relative;
	float:left;
	width: 783px;
	height: 500px;
	background: url('../images/common/bg_contents_top.gif') no-repeat;
}