@charset "UTF-8";

.text01 {
	position: absolute;
	top: 77px;
}

.text02 {
	position: absolute;
	top: 135px;
}

.contentImage {
	position: absolute;
	left: 385px;
    bottom: 5px;
}

.sns-Link {
	position: absolute;
	top: 250px;
    left: 730px;
}

.content-bottom02 {
	width: 785px;
	min-height: 696px;
	margin-top: 20px;
}

.content02-menus {
	list-style: none;
}

.content02-menus li {
	width: 385px;
    float: left;
    margin-bottom: 16px;
}

.caution {
	position: relative;
	background: url(../images/templet/bg-caution1.png);
	width: 750px;
    height: 155px;
    margin-top: 51px;
    padding: 20px;
    z-index: 2;
}

.cautionList {
	width: 707px;
    height: 117px;
}

.listImage {
	float: left;
    margin-left: 5.5px;
}

.listImage img {
	margin-bottom: 3px;
}

.listText {
	font-size: 12px;
    margin-left: 7px;
    margin-top: 4px;
    color: #555;
    float: left;
    width: 682px;
    line-height: 1.6;
}










