@charset "UTF-8";

li {
	list-style: none;
}

.background-Area {
	width: 1200px;
	height: 900px;
	background-color: #d0c8c8;
	margin: auto;
}

.header {
	font-size: 35px;
	padding-top: 20px;
	padding-left: 35px;
}

.content01 {
	width: 40%;
	float: left;
	height: 85%;
	background: white;
	border-radius: 10px;
	margin-left: 20px;
	margin-top: 20px;
}

.content01-header {
	font-size: 30px;
	padding-top: 50px;
	padding-left: 25px;
}

.adminAdd {
	width: 100%;
	font-size: 20px;
	background: #cdd0d3;
	text-align: center;
	margin: 0px 0px 15px 0px;
}

.adminRemove {
	width: 90%;
	height: 5%;
	font-size: 30px;
	background: #cdd0d3;
	text-align: center;
	margin-left: 23px;
	margin-top: 15px;
	padding-top: 1px;
}

.line01 {
	position: relative;
	width: 90%;
	top: 19px;
}

.adminList {
	font-size: 25px;
	margin-top: 46px;
	width: 92%;
	margin-left: 35px;
}

.content02 {
	float: left;
	width: 56%;
	height: 85%;
	background: white;
	border-radius: 10px;
	margin-top: 20px;
	margin-left: 10px;
	position: relative;
}

.content02-header {
	font-size: 30px;
	padding-top: 50px;
	padding-left: 25px;
}

.searchImage {
	height: 3%;
	position: absolute;
	top: 143px;
	left: 25px;
	border: 1px solid;
	padding: 5px;
	border-radius: 5px;
}

.searchImage img {
	width: 20px;
}

.search {
	width: 300px;
	height: 100px;
	margin-left: 62px;
	margin-top: 51px;
}

.search input {
	width: 80%;
	height: 30px;
	font-size: 18px;
	border: none;
	border-bottom: 1px black solid;
}

.search button {
	font-size: 18px;
	border: none;
	background-color: #1e211e;
	width: 50px;
	height: 30px;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
}

.line02 {
	position: relative;
	width: 92%;
	top: -59px;
}

.results {
	width: 95%;
	margin: auto;
	position: relative;
	bottom: 25px;
}

.searchResults {
	width: 100%;
	margin: auto;
	text-align: center;
	border-collapse: collapse;
}

.searchResults thead tr {
	background-color: #cbced6;
}

.searchResults thead tr th {
	border: 1px solid #555;
	padding: 10px 0px;
}

.searchResults tbody tr td {
	border: 1px solid #555;
	padding: 10px 0px;
}

.go-home-button {
	position: relative;
	float: left;
	bottom: 6%;
	left: 73%;
	width: 10%;
}

.go-home-button button {
	font-size: 25px;
	width: 100%;
	height: 50px;
}
.card{
	width:15%;
}