@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
}

#root {
	width: 1920px;
	height: 1085px;
}

.main-img {
	position: relative;
	background-image: url('/resources/images/intro/background_intro.png');
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}

.VIPS-logo {
	position: relative;
	left: 321px;
	top: 49px;
}

.tasty-autumn {
	position: relative;
	left: 18%;
	top: 8%;
}

.new-menu {
	position: relative;
	left: 25%;
	top: 10%;
	animation: button-animation 3s infinite;
}

@keyframes button-animation {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0px);
	}
}

.homepage-button {
	position: relative;
	top: -46%;
	left: 74%;
}

.main-img-text {
	position: relative;
	left: 28%;
	top: 37%;
}

.footer {
	background-color: #191919;
}

.footer-padding-box {
	width: 100%;
	height: 100%;
	padding: 15px 10px 50px 556px;
	/*background-color: rgba(255, 0, 0, 0.5);*/
}

.about-us-noline {
	position: relative;
	left: 10px;
	top: 10px;
	display: inline-block;
	padding: 0 5px 0 12px;
}

.about-us {
	position: relative;
	left: 10px;
	top: 10px;
	display: inline-block;
	padding: 0 6px 0 12px;
	background: url(/resources/images/intro/line.png) no-repeat 0 1px;
}

.address {
	position: relative;
	left: 56px;
	top: 29px;
}