@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);


* {
	box-sizing: border-box;
	margin: 0;
}

#root {
	width: 1000px;
	margin: auto;
}

.background-shadow {
	box-shadow: 0px 0px 20px 5px;
}

.padding-box {
	height: 100%;
	position: relative;
	margin: auto;
	/*background-color: rgba(0, 255, 0, 0.5);*/
}

.wrap {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-image: url('/resources/images/story/storyBrandStory/backgroundInfo.gif');
	/*background-color: rgba(0, 255, 0, 0.5);*/
}

.mainBannerAd-area {
	width: 100%;
}

.mainBannerAd {
	width: 100%;
	height: 100%;
}


.bottom-info-area {
	background: url('/resources/images/main/bottomBackgrond.gif') no-repeat 0px 0px;
	width: 100%;
	background-size: cover;
	overflow: hidden;
}

.bottom-info-area-inner {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	padding: 4% 2% 6% 3%;
	/*background-color: rgba(0, 255, 0, 0.5);*/
}

.bottom-info-area-inner-faceBook {
	padding: 13px 0px 0px 22px;
	width: 33.3%;
}

.bottom-info-area-inner-news {
	padding: 14px 16px 0px 4px;
	width: 33.3%;
}

.bottom-info-area-inner-steak {
	padding: 0px 0px 0px 1%;
	width: 33.3%;
}

.bottom-info-area-move-steak {
	padding: 0px 0px 0px 0px;
	background: url('/resources/images/main/enjoySteakBackgrund.png') no-repeat right 16% top 5%;
}

.bottom-info-area-move-steak div {
	margin: 0px 0px 10px 0px;
	position: relative;
}

.move-to-beGiftCard3 {
	position: relative;
	top: -5px;
}

.quick-link {
	display: flex;
	flex-wrap: wrap;
}

.quick-link-icon-area {
	display: flex;
	flex-wrap: wrap;
}

.quick-link-icon-area div {
	margin: 0px 0px 0px 12px;
	left: 7px;
	top: -8px;
}

.table-text-area {
	display: flex;
	flex-wrap: wrap;
}

.db-title{
	
}
.db-created-at{
	
}